<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/homepage.css" />
  <title>Nuvie</title>
</head>

<body>
<section id="top">
    <nav id="navbar">
      <a href="#navbar"><img class="navbar-logo" src="/static/popcorn.png" alt="icon"></a>
        <p><a href="#">Nuvie</a></p>
        <ul class="nav-list">
            <li><a href="/templates/home.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/templates/contact.html">Contact</a></li>
            <li><a href="/templates/login.html">Login/Signup</a></li>


        </ul>
    </nav>
</section>
<div class="background-container">
    <img class="background-gif" src="/static/movies.gif" alt="Movie GIF">
</div>

<section class="hero">
  <p>Welcome to <span id="decor">Movie</span>, your ultimate destination for discovering the best movies based on your personal preferences!</p>
    <p>Our movie recommendation system uses advanced AI algorithms to provide personalized suggestions tailored to your unique tastes. Whether you’re a fan of action, drama, or documentary, we’re here to help you find your next favorite film.</p>
</section>
</body>

</html>