<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/login.css" />
  <title>Nuvie</title>
</head>

<body>
<section id="top">
    <nav id="navbar">
      <a href="#navbar"><img class="navbar-logo" src="/static/popcorn.png" alt="icon"></a>
        <p><a href="#">Nuvie</a></p>
        <ul class="nav-list">
            <li><a href="/templates/home.html">Home</a></li>
            <li><a href="/templates/homepage.html">About</a></li>
            <li><a href="/templates/contact.html">Contact</a></li>
            <li>Login/Signup</li>


        </ul>
    </nav>
</section>
<div class="background-container">
    <img class="background-gif" src="/static/movies.gif" alt="Movie GIF">
</div>

<section class="hero">
  <form action="/login" method="POST">
    <h1>Login</h1>
    <section id="login-box">
        <label for="email-box">Email-ID</label>
        <input id="email-box" type="email" name="email" /><br>
        <label for="password-box">Password</label>
        <input id="password-box" type="password" name="password" />
        <p>Don't have an account?<span id="sign-up"><a href="/templates/signup.html">Sign up</a></span></p>
        <button type="submit" class="btn-primary">Login</button> 
    </section>
  </form>
  </section>
  
</body>

</html>