<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/homepage.css" />
  <title>Nuvie</title>
</head>

<body>
<section id="top">
    <nav id="navbar">
      <a href="#navbar"><img class="navbar-logo" src="/static/popcorn.png" alt="icon"></a>
        <p><a href="#">Nuvie</a></p>
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="/templates/homepage.html">About</a></li>
            <li><a href="/templates/contact.html">Contact</a></li>
            <li><a href="/templates/login.html">Login/Signup</a></li>


        </ul>
    </nav>
</section>
<div class="background-container">
    <img class="background-gif" src="/static/movies.gif" alt="Movie GIF">
</div>

<section class="hero">
  <h1>Find Your Next Favorite Movie!</h1>
  <p>Discover top-rated movies tailored just for you.</p>
  <button class="btn-primary"><a href="login.html">Get Started</a></button>
</section>
</body>

</html>