<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuvie 🍿</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="landing-page">
    <div class="container">
      <header>
        <h1>Welcome to <span class="highlight">Nuvie</span></h1>
        <p class="tagline">
          Stuck in scroll limbo, not sure what to watch?<br /><span class="em"
            >We got you.</span
          >
        </p>
      </header>
      <main>
        <div class="option-container">
          <a href="/questions" class="option-card">
            <h2>🎯 Quick Quiz</h2>
            <p>Let us find your movie soulmate based on your taste</p>
          </a>

          <a href="/recommend" class="option-card">
            <h2>🧠 Content-Based Recs</h2>
            <p>Tell us a movie you loved. We’ll vibe with it.</p>
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
