<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/signup.css">
  <title>Nuvie</title>
</head>

<body>
<section id="top">
    <nav id="navbar">
      <a href="#navbar"><img class="navbar-logo" src="/static/popcorn.png" alt="icon"></a>
        <p><a href="#">Nuvie</a></p>
        <ul class="nav-list">
            <li><a href="/templates/home.html">Home</a></li>
            <li><a href="/templates/homepage.html">About</a></li>
            <li><a href="/templates/contact.html">Contact</a></li>
            <li><a href="/templates/login.html">Login/Signup</a></li>


        </ul>
    </nav>
</section>
<div class="background-container">
    <img class="background-gif" src="/static/movies.gif" alt="Movie GIF">
</div>

<section class="hero">
    <form id="signup" action="/submit" method="post">
    <h1>Sign Up</h1>
    <section id="sign-up-box">
        <label for="email-box">Email-ID</label>
        <input id="email-box" type="email" name="email" /><br>

        <!-- Username field -->
        <label for="username">Username</label>
        <input id="username" type="text" name="username" /><br>

        <!-- Password field -->
        <label for="password-box">Password</label>
        <input id="password-box" type="password" name="password" /><br>

        <!-- Confirm Password field -->
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" type="password" name="confirm-password" /><br>

        <p>Already have an account? <span id="login-link"><a href="/templates/login.html">Login</a></span></p>

        <!-- Sign Up Button -->
        <button type="submit" class="btn-primary" >Sign Up</button>
    </section>
</form>
</section>

<script>
    function save(){
        
        document.getElementById("signup").onsubmit=function(event){
            event.preventDefault(); 

        const formData=new FormData(this);
        fetch('/submit', {
                method: 'POST',
                body: formData
            }).then(response => response.text())
            .then(data => {alert(data);
            window.location.href = "/main";
        })
        .catch(error => console.error("Error:", error));
        };
    }
    save();
    
</script>

</body>
</html>