body {
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: black;
    color: white;
    margin-top: -10px;
    height:70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list li {
    cursor: pointer;
    font-size:18px;
}
#navbar p{
    margin-left: -1050px;
        font-size:20px;
        font-family: cursive;
}
#navbar a{
    text-decoration: none;
    color:inherit;

}
.navbar-logo {
    width: 80px;
}
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('movies.gif') no-repeat center center/cover;
    z-index: -1; /* Send it behind other content */
}

/* GIF Styling */
.background-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Adjust size */
    max-width: 800px;
    opacity: 0.8; /* Optional transparency */
}

.hero{
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color:aliceblue;
    width:60%;
    height:30vh;
    text-align: center;
    padding:20px;
    margin: 20px auto;
    box-sizing:content-box;
    border-radius: 2ch;
    box-shadow: #6960c6;
}
.hero:hover{
    transform: translateY(-5px);
}
.hero p{
    width:90%;
    text-align: center;
    margin:40px;
    display: block; 
    justify-content: space-around;
    font-size: 20px;
}
#decor{
    font-style:inherit;
    font-weight: 700;
}